.App * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: #1c448e;
  scroll-padding-top: 72px;
}

h1,
h2,
h3,
p,
a {
  font-family: "Roboto Mono", monospace;
}
